*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
body{
    background-color: #f9f9f9;
    min-height: 100vh;
    overflow-x: hidden;
   
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 2em;
    color: #27a78d;
    pointer-events: none;
    margin-right: 30px;
    font-family: 'Sriracha', cursive;
}
.nav-bar{
   margin-left: 100px;
}
.nav-bar a{
    text-decoration: none;
    color: #27a78d;
    padding: 6px 15px;
    border-radius: 20px;
    margin: 0 10px;
    font-weight: 700;
    font-family: 'Sriracha', cursive;
}
.nav-bar a:hover{
    background-color: #27a78d;
    color: white;
}
.active{
    background-color: #27a78d;
    color: #f9f9f9;
    border-radius: 30px;
   
}
.nav-bar a.active{
    color: #f9f9f9;
}

.first-sec{
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.text1{
    font-size:5em;
    position: absolute;
    color:white;
    z-index: 100;
    font-family: 'Sriracha', cursive;
}
.first-sec img{
    width: 100%;
    pointer-events: none;

    position: absolute;
    top:0;
    left: 0;
     
}
.second-sec{
    width: 100%;
    min-height:100vh;
    padding:50px 100px;
    background-color: #003329;
    position: relative;
    

}
.text-2{
    color: white !important;
    position: absolute;
    font-size:3em;
    font-weight: bold;
    font-family: 'Sriracha', cursive;
    
}
.second-sec p{
    margin-top: 70px;
    color:rgb(114, 110, 110);
    font-family: 'Sriracha', cursive;
    font-size: 1.1em;
}
.second-sec p:nth-of-type(1){
    margin-top: 100px;
}
.foot{
    width: 100%;
    min-height: 100px;
    background:#f8f8f8 ;
    color: #003329;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.foot P{
    font-size: 25px;
    font-family: 'Sriracha', cursive;
    
}
span{
    font-size: 30px;
    font-weight: bold;
    margin: 0 10px;
    font-family: 'Dancing Script', cursive;
}
span:nth-of-type(1){
    color: #3d9b88;
}
span:nth-of-type(3){
    color: #0f816a;
}
span:nth-of-type(2){
    color: #12f1c5;
}
span:nth-of-type(4){
    color: #06b995;
}